<div class="modal-header">
    <h5 class="modal-title" id="deleteModelLabel">Reservation</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
   <form [formGroup]="reservationForm">
      <div class="form-group">
         <label>Discipline</label>
         <input type="text" class="form-control" placeholder="{{discipline.disciplineName}}" readonly>
      </div>
      <div class="form-group">
         <label>Teacher</label>
         <input type="text" class="form-control" placeholder="{{discipline.teacherFirstName}} {{discipline.teacherLastName}}" readonly>
      </div>
      <div class="form-group">
         <label>Start time</label>
         <input type="text" class="form-control" placeholder="{{discipline.startTime | date: 'EEEE'}}, {{discipline.startTime | date: 'HH:mm'}}" readonly>
      </div>
      <div class="form-group">
         <label for="studentId">Student</label>
         <select type="text" formControlName="studentId" class="form-select" id="studentId" required>
            <option *ngFor="let student of students" value = "{{student.id}}">{{student.firstName}} {{student.lastName}}</option>
         </select>
      </div>
   </form>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-outline-danger ml-auto" [disabled]="reservationForm.invalid || discipline.enrolledStudentsNumber == 0" (click)="onCancelReservation(reservationForm)">Cancel reservation</button>
    <button type="button" class="btn btn-outline-success mr-auto" [disabled]="reservationForm.invalid || discipline.capacity == discipline.enrolledStudentsNumber" (click)="onReserve(reservationForm)">Add reservation</button>
</div>
