<div class="modal-header">
    <h5 class="modal-title" id="modal-title">{{discipline.disciplineName}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    Teacher: {{discipline.teacherLastName}} {{discipline.teacherFirstName}} <br>
    Start time: {{discipline.startTime | date: 'HH:mm'}} <br>
    Classroom: {{discipline.classroomLocation}} <br>
    Capacity: {{discipline.enrolledStudentsNumber}}/{{discipline.capacity}} <br>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onOpenModal(discipline,'delete')">Delete</button>
</div>
