.padding-left-30{
    padding-left: 30px;
}

.padding-tb-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

body{
    background-image: url("falling-hats-white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar .btn{
    color: white;
}

.navbar .btn:hover{
    background-color:#393f46;
}