.padding-lr-15{
    padding-left: 15px;
    padding-right: 15px;
}

.padding-tb-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-size-25{
    font-size: 25px;
}

.margin-5{
    margin: 5px;
}

.margin-bottom-2{
    margin-bottom: 2cm;
}

body{
    background-image: url("falling-hats-white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar .btn{
    color: white;
    border-color: whitesmoke;
}

.navbar .btn:hover{
    background-color:#393f46;
}